<mat-form-field class="full-width">
  <input
    type="text"
    placeholder="Select Brewer"
    aria-label="Brewer"
    matInput
    [formControl]="selectedBrewer"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onChange()">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div class="beers-list">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <app-beers-item *ngFor="let beer of (beers | slice: 0:currentPage * perPage)" [beer]="beer"></app-beers-item>
  <div class="beers-list__pagination">
    <button mat-button (click)="nextPage($event)" color="primary" *ngIf="currentPage < pages">Load more...</button>
  </div>
</div>
